<%= form_with(model: visit) do |form| %>
  <% if visit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
        <% visit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%#= form.label :user_id, style: "display: block" %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field pt-4 text-center">
    <%= form.label "Gimnasio que quieres visitar", class:"text-red-600" %><br />
      <%= form.collection_select :gym_id, Gym.all.order('name ASC'), :id, :name, {autofocus: true, autocomplete: "account", required:true}, {class:"w-full px-3 rounded-md focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 p-2 my-4"}%>
  </div>

  <%# <div> %>
    <%#= form.label :gym_id, style: "display: block" %>
    <%#= form.text_field :gym_id %>
  <%# </div> %>

  <div class="text-center mt-4">
    <%= form.submit class:"w-4/5 rounded p-2 bg-red-600 text-white font-semibold cursor-pointer border border-black text-center hover:bg-red-400" %>
  </div>
<% end %>
