<!DOCTYPE html>
<html>
  <head>
    <title>Gymbro - Mis Gimnasios</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind.min.css"%>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Audiowide&display=swap"%>
    <%= stylesheet_link_tag "styles.css"%>
    <%= javascript_importmap_tags %>
  </head>
  <body class="leading-normal tracking-normal text-black m-0 bg-cover bg-fixed" style="background-image: url('<%=asset_path "header.png"%>');">
    <%= render "partials/header" %>
    <div class="absolute z-50 top-20 left-2 flex justify-center bg-blue-600 text-white font-semibold text-2xl"">
    <p class="notice px-2"><%= notice %></p>
    </div>
    <div class="absolute z-50 top-20 left-2 flex justify-center bg-rose-600 text-white font-semibold text-2xl">
      <p class="alert px-2"><%= alert %></p>
    </div>
    <%= yield %>
    <%= hidden_field_tag 'user_id', current_user, {id: "user_id"} %>
    <% if current_user%>
      <% if user_is_premium? || user_is_owner? %>
        <%= render "partials/modal_notifications" %>
      <% end %>
    <% end %>
    <%= render "partials/footer" %>
  </body>
</html>
